/datasets
/datasets_badclean

/bert/bert_base_chinese_output
/bert/processed_data

/electra/cache_badclean_reduce_chinese_512
/electra/eval_output_pretrain_reduce_chinese_512/runs
/electra/log_badclean_pretrain_reduce_chinese_sampler_512
/electra/output_badclean_pretrain_reduce_chinese_sampler_512

/fasttext/__pycache__
/fasttext/datasets
/fasttext/eval_data
/fasttext/log
/fasttext/models
/fasttext/cc.zh.300.vec

/lert/__pycache__
/lert/eval_output_pretrain_reduce_chinese_512/runs
/lert/log_badclean_hard_512
/lert/log_badclean_pretrain_hard_512
/lert/log_badclean_pretrain_left_hard_512
/lert/log_badclean_pretrain_right_hard_512
/lert/log_badclean_pretrain_rl_hard_512
/lert/log_pertrain_badclean_remove_duplicates_cut_long_short_balance_512
/lert/log_badclean_pretrain_reduce_chinese_sampler_512
/lert/log_badclean_reduce_chinese_512
/lert/log_badclean_reduce_chinese_sampler_512
/lert/log_badclean_rl_hard_512
/lert/log_KAN_badclean_reduce_chinese_512
/lert/cache_badclean_hard_512
/lert/cache_badclean_pretrain_hard_512
/lert/cache_badclean_pretrain_left_hard_512
/lert/cache_badclean_pretrain_right_hard_512
/lert/cache_badclean_pretrain_rl_hard_512
/lert/cache_badclean_remove_duplicates_cut_long_short_balance_512
/lert/output_badclean_hard_512
/lert/output_badclean_pretrain_hard_512
/lert/output_badclean_pretrain_left_hard_512
/lert/output_badclean_pretrain_right_hard_512
/lert/output_badclean_pretrain_rl_hard_512
/lert/output_pertrain_badclean_remove_duplicates_cut_long_short_balance_512
/lert/output_badclean_pretrain_reduce_chinese_sampler_512
/lert/output_badclean_reduce_chinese_512
/lert/output_badclean_reduce_chinese_sampler_512
/lert/output_badclean_rl_hard_512
/lert/output_KAN_badclean_reduce_chinese_sampler_512

/roberta/__pycache__
/roberta/cache
/roberta/cache_512
/roberta/cache_badclean_512
/roberta/cache_badclean_deduplication_512
/roberta/cache_badclean_reduce_chinese_512
/roberta/output
/roberta/output_512
/roberta/output_badclean_pretrain_512
/roberta/output_badclean_pretrain_rdrop_512
/roberta/output_badclean_pretrain_reduce_chinese_512
/roberta/output_badclean_pretrain_reduce_chinese_sampler_512
/roberta/output_badclean_pretrain_sampler_512
/roberta/output_badclean_pretrain_sampler_rdrop_512
/roberta/output_pretrain_512
/roberta/output_pretrain_sampler_512
/roberta/eval_logs_512
/roberta/eval_logs_pretrain_512
/roberta/eval_output_pretrain_sampler_512
/roberta/log_512
/roberta/log_badclean_pretrain_512
/roberta/log_badclean_pretrain_rdrop_512
/roberta/log_badclean_pretrain_reduce_chinese_512
/roberta/log_badclean_pretrain_reduce_chinese_sampler_512
/roberta/log_badclean_pretrain_sampler_512
/roberta/log_badclean_pretrain_sampler_rdrop_512
/roberta/log_pretrain_512
/roberta/log_pretrain_sampler_512
/roberta/log_badclean_pretrain_deduplication_512
/roberta/log_badclean_pretrain_deduplication_rdrop_512

output.txt
